@import '/styles/helpers';
.rightNavigation {
  position: relative;
  bottom: 0.15rem;
  width: 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 0.2rem;

  .withdraw {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .greenBtn {
      width: 1.144rem;
      height: 0.5rem;
      position: relative;
      z-index: 1;
    }
    .withdrawBg {
      padding-left: 0.04rem;
      width: 0.46rem;
      height: 0.32rem;
      position: relative;
      z-index: 1;
    }
  }

  .other {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    .yellowBtn {
      width: 1.194rem;
      height: 0.5rem;
      position: relative;
      z-index: 0;
    }
    .yellowBg {
      padding: 0 0 0 0.12rem;
      width: 0.36rem;
      height: 0.36rem;
      position: absolute;
      top: -0.04rem;
      z-index: 1;
      padding-bottom: 0.04rem;
    }
  }
}

@media screen and (max-height: 320px) and (orientation: landscape) {
  .buttons {
    top: 0.1rem;
  }
}
