.formParent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .wrapper {
    @include flex-xy(space-between, center);
    height: 0.3rem;
    width: 100%;

    input {
      width: 2.8rem;
      height: 100%;
      border: none;
      outline: none;
      font-size: 0.15rem;
      padding: 0 0.15rem;
      border-radius: 0.3rem;
      caret-color: #fff;
      background: #1a1a1a;
      color: #fff;
    }

    &:not(:first-child) {
      margin-top: 0.1rem;
    }


    :global {
      .css-b62m3t-container {
        width: 2.8rem !important;
        cursor: pointer !important;
      }
      .bindCardSelect__control {
        position: relative;
        margin: 0 !important;
        height: 0.3rem;
        width: 100%;
        border-radius: 0.3rem;
        border: none !important;
        box-shadow: none;
        display: flex;
        align-items: center;
        background-color: #1a1a1a !important;
        .bindCardSelect__value-container {
          padding: 0 0.10rem;
          height: 100%;
          display: flex;
          align-items: center;
          position: relative;
          .bindCardSelect__single-value {
            display: flex;
            align-items: center;
            height: 100%;
            > span {
              display: flex;
              align-items: center;
              font-size: 0.15rem !important;
            }
          }
        }
      }
      .bindCardSelect__indicator {
        outline: none;
        border: none;
        box-shadow: none;
        svg {
          width: 0.25rem;
        }
      }
      .bindCardSelect__indicator-separator {
        width: 0;
        background-color: transparent !important;
      }
      .bindCardSelect__option {
        > span {
          display: flex;
          align-items: center;
          font-size: 0.15rem !important;
        }
      }
    }
  }

  .button {
    width: 0.8rem;
    height: 0.3rem;
    margin-top: 0.2rem;
  }
}
