.headerDetails {
  display: flex;
  width: 34%;

  .coinPurseWrapper {
    display: flex;
    width: 100%;

    .coinPurseContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }
}
