.loader {
  z-index: 100;
  position: absolute;
  height: 85%;
  width: 98%;
  bottom: 3%;
  left: 1%;
  right: 1%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
}
