.container {
  position: relative;
}

.input {
  &__field {
    width: 100%;
    height: 100%;
    cursor: text;

    &:focus {
      outline-width: 0 !important;
    }

    &--error {
      border: thin solid red !important;
      outline: none;
    }
  }

  &__toggleMask {
    position: absolute;
    inset: 0;
    margin: auto 2.5% auto auto;
    width: 0.175rem;
    height: auto;
  }

  &__buttonAction {
    position: absolute;
    inset: 0;
    margin: auto 2.5% auto auto;
    width: max-content;
    height: 70%;
    background: linear-gradient(180deg, #ffe800, #e38c00);
    border: none;
    border-radius: 10rem;
    color: #651d00;
    font-weight: 600;
    font-size: clamp(0.1rem, 0.115rem, 21.5px);
    padding: 0 2.5%;
    border-bottom: 0.01rem solid #fff;
  }
}
