.container {
  width: 100dvw;
  height: calc(100% - 0.4rem);
  font-size: 0.15rem;
  display: flex;
  color: white;
  overflow-y: scroll;
  user-select: none;

  .wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    padding: 0.1rem;
  }
}
