.clickArea {
  display: flex;
  height: 86.5%;
  width: 86.5%;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  right: -0.1vw;
  bottom: 0;
  top: 0;
  margin: auto 0;
  cursor: pointer;
}
