.overlay {
  position: absolute;
  @include flex-xy;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5019607843);

  .wrapper {
    font-size: 0.15rem;
    color: white;
    position: relative;
    width: 4.08rem;

    .header {
      @include flex-xy;
      position: relative;
      width: 100%;
      height: 0.41rem;
      z-index: 11;
      background: var(--withdraw-header-modal) center / 100% 100% no-repeat;
      border-radius: 0.05rem 0.05rem 0 0;

      .headerTitle {
        color: #651d00;
        font-size: 0.2rem;
        font-weight: 900;
      }

      .closeBtn {
        position: absolute;
        background: var(--withdraw-header-modal-close) center / contain no-repeat;
        width: 0.2rem;
        height: 0.2rem;
        right: 0.1rem;
      }
    }

    .addCardContainer {
      width: 100%;
      position: relative;
      z-index: 10;
      background: #1f1e1b;
      border: 0.01rem solid #8d7c4f;
      border-radius: 0 0 0.05rem 0.05rem;
      padding: 0.2rem 0.2rem;

      .bodyContainer {

        .inputFields {
          width: 100%;
          display: flex;

          ul {
            display: flex;
            flex-direction: column;
            width: 100%;

            li {
              @include flex-xy(space-between, center);
              width: 100%;

              &.list {
                margin-bottom: 0.1rem;
              }

              &.listSpecial {
                margin-top: 0.15rem;
              }

              .bankListSpan {
                font-size: 0.15rem;
              }

              .selectContainer {
                width: 2.8rem;
              }
            }
          }
        }

        .button {
          margin-top: 0.25rem;
          width: 0.8rem;
          height: 0.3rem;
        }

        :global {
          .css-1xc3v61-indicatorContainer,
          .css-15lsz6c-indicatorContainer {
            padding: 0;
          }

          .bindCardSelect__control {
            position: relative;
            margin: 0 !important;
            height: 0.3rem;
            width: 100%;
            border-radius: 0.3rem;
            border: none !important;
            box-shadow: none;
            display: flex;
            align-items: center;
            background-color: #000;
            min-height: 0 !important;
            padding: 0 0.10rem 0 0.05rem;

            .bindCardSelect__value-container {
              height: 100%;
              display: flex;
              align-items: center;
              position: relative;

              .bindCardSelect__single-value {
                display: flex;
                align-items: center;
                height: 100%;

                > span {
                  color: #fff;
                  display: flex;
                  align-items: center;
                  font-size: 0.15rem !important;

                  .bankIcons {
                    width: 0.2rem;
                    height: 0.2rem;
                  }
                }
              }
            }

            .bindCardSelect__indicator {
              @include flex-xy;
              outline: none;
              border: none;
              box-shadow: none;
              width: 0.25rem;
              height: 0.25rem;

              svg {
                width: 0.25rem;
              }
            }
          }


          .bindCardSelect__indicator-separator {
            width: 0;
            background-color: transparent !important;
          }

          .bindCardSelect__option {
            > span {
              display: flex;
              align-items: center;
              font-size: 0.15rem !important;
              color: #fff;
            }
          }

          .bindCardSelect__menu {
            background-color: #1a1a1a !important;
          }

          .bindCardSelect__menu-list {
            background-color: #1a1a1a !important;
          }

          .bindCardSelect__option--is-focused {
            background-color: #2a2a2a !important;
          }

          .bindCardSelect__option--is-selected {
            background-color: #2a2a2a !important;
          }
        }
      }
    }
  }
}

.bankIcons {
  width: 0.2rem;
  height: 0.2rem;
}

