.footerContent {
  position: relative;
  @include flex-xy(space-between, center);
  background: var(--footer-bg-img);
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  height: 0.423rem;
}
