.container {
  width: 100%;
  height: 100%;
}

.header {
  background: var(--safebox-fund-header);
  border-top-left-radius: 0.15rem;
  border-top-right-radius: 0.15rem;
  display: flex;
  justify-content: space-around;
  padding-block: 0.3rem;
  align-items: center;
}

.iconContainer,
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  gap: 0.02rem;

  img {
    width: 0.35rem;
    margin-block-end: 0.05rem;
    height: auto;
  }

  span {
    color: white;
    font-size: 0.15rem;
    line-height: 0.15rem;
  }

  span:last-child {
    background: var(--transfer-amount);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

.middle {
  background-color: var(--record-roundedTabs-color);
  border-radius: 9999px;
  width: 0.5rem;
  height: 0.5rem;

  img {
    width: 0.2rem;
    height: auto;

  }
}

.inputContainer {
  border-bottom-left-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  background: var(--vip-balance-bg);
  display: flex;
  flex-direction: column;
  height: 100%;

  div:first-child {
    padding-block-end: 0.15rem;
    font-size: 0.2rem;
  }

  div:nth-child(2) {
    display: flex;
    position: relative;
    align-items: center;

    &::after {
      content: "¥";
      position: absolute;
      top: 0.05rem;
      left: 0.08rem;
      color: rgba(0, 0, 0, 0.5);
      font-size: 0.15rem;
    }

    span {
      position: absolute;
      top: 0.05rem;
      left: 0.08rem;
      color: rgba(0, 0, 0, 0.5);
      font-size: 0.15rem;
    }

    input {
      border-radius: 999px;
      border: none;
      padding-inline-start: 0.2rem;
      width: 85%;
      height: 0.3rem;
      font-size: 0.15rem;
    }

    div:last-child {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(180deg, #11D38A 0%, #018B57 100%);
      border-radius: 999px;
      margin-left: 0.1rem;
      font-size: 0.15rem;
      width: 15%;
      height: 0.32rem;

      &::after {
        display: none;
      }
    }
  }

  .submitBtn {
    margin-top: 0.5rem;
    background: var(--vip-btn-bg);
    width: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.2rem;
    color: white;
    align-self: center;
    border-radius: 9999px;
  }
}