.shareQRCode {
  @include flex-xy;
  width: 100%;
  height: calc(100vh - 0.4rem);
  background: #000 center / 100% 100% no-repeat;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  gap: 0.1rem;

  &__qrCodeScanner {
    @include flex-xy;
    width: 1.8rem;
    border: 0.04rem solid white;
    background: white;
    height: 1.8rem;
    padding: 0.1rem;
    margin-top: 0.9rem;
  }

  &__qrCodeBtn {
    background: url('../../assets/commons/qrShareBtn.png') no-repeat center;
    background-size: cover;
    width: 4.4rem;
    height: 0.7rem;
    @include flex-xy;

    justify-content: flex-start;

    span {
      margin-left: 0.2rem;
      font-size: 0.27rem;
      font-weight: 700;
      line-height: 0.5;
      color: #fff;
    }
  }
}
