@import '/styles/_helpers.scss';

.noDataContainer {
  @include flex-xy;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .noDataImage {
    width: 2.90rem;
    height: 1.267rem;
  }

  .noDataLabel {
    @include flex-xy;
    font-size: 0.18rem;
    width: 100%;
    background: var(--nodata-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}