.mainList {
  @include flex-xy;
  width: 0.3rem;
  cursor: pointer;

  .listContainer {
    position: relative;
    @include flex-xy;
    flex-direction: column;

    img {
      width: 0.2rem;
      height: auto;
    }
    .text {
      font-size: 0.09rem;
      margin: 0;
      font-weight: 600;
      background: var(--footer-text-list);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &:nth-child(4) {
    &[data-notif]:not([data-notif='0'])::after {
      content: attr(data-notif);
      position: relative;
      font-size: 0.08rem;
      color: #ffeebf;
      background-color: #ff2422;
      padding: 0.018rem;
      top: -0.1rem;
      right: -0.03rem;
      font-weight: 400;
      border-radius: 50%;
        line-height: 1;
    }
  }
}
