.wrapper {
  //width: 3.55rem;
  width: 4rem;

  .passCodeContainer {
    @include flex-xy;
    flex-direction: column;
    height: 2.15rem;
    background: #1f1e1b;
    gap: 0.1rem;
    border: solid 0.004rem #8d7c4f;
    border-top: none;
    border-radius: 0 0 0.05rem 0.05rem;

    .title {
      font-size: 0.15rem;
      text-align: center;
      color: #fff;
    }

    .inputWrapper {
      @include flex-xy;
      gap: 0.28rem;
      width: auto;

      > input[type='text'] {
        //width: 0.5rem;
        width: 0.75rem;
        font-size: 0.18rem;
        background: transparent;
        border: none;
        border-bottom: solid 1px #777;
        color: #fff;
        text-align: center;
        opacity: 1;
        overflow: visible;
      }
    }

    .buttonsInput {
      @include flex-xy;
      flex-wrap: wrap;

      .button {
        @include flex-xy;
        background: url('~@/assets/blackGold/passCodeModal/numberButton.png') center / 100% 100% no-repeat;
        width: 0.625rem;
        height: 0.25rem;
        color: #651d00;
        margin: 0.075rem;
        font-weight: 700;

        &.enterButton {
          background: url('~@/assets/blackGold/passCodeModal/enterButton.png') center / 100% 100% no-repeat;
        }

        &.deleteButton {
          background: url('~@/assets/blackGold/passCodeModal/deleteButton.png') center / 100% 100% no-repeat;
        }
      }
    }
  }
}