%rechargeBody {
  width: 100%;
  padding: 0.15rem;
  height: max-content;
  background: #222;
}

.deposit {
  position: relative;
  border-radius: 0.03rem;
  font-size: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin: 0.15rem;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.25rem;
    font-weight: 700;
    font-size: 0.12rem;
    overflow-x: auto;
  }

  &__channel {
    width: auto;
    height: 100%;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    padding: 0 0.3rem;
    border-radius: 0.03rem 0.03rem 0 0;

    &--active {
      background: url('~/assets/commons/activeHeaderBg.webp') center / 100% 100% no-repeat;
    }
  }

  &__content {
    @include flex-xy;
    @extend %rechargeBody;
    flex-direction: column;
  }

  &__amountSelection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.075rem 0.35rem;
    margin: 0.15rem auto;
  }

  &__amount {
    @include flex-xy;
    height: 0.255rem;
    width: 1rem;
    padding: 0.1rem;
    border-radius: 0.2rem;
    font-size: 0.12rem;
    border: #dec18c solid 0.004rem;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &--active {
      border: #dec18c solid 0.004rem;
      background: linear-gradient(180deg, #f49e97, #fa6653);
    }
  }

  &__usdtContent {
    @extend %rechargeBody;
    display: grid;
    grid-template-columns: 55% 45%;
  }

  &__usdtForm {
    @include flex-xy;

    > form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0.15rem 0.25rem 0.15rem 0.15rem;
      gap: 0.08rem 0;

      > div {
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;

        > span {
          font-size: 0.13rem;
        }
      }

      > span {
        color: #f0cb5a;
        font-size: 0.13rem;
      }
    }
  }

  &__input {
    color: #fff;
    caret-color: #fff;
    border: none;
    background-color: #1a1a1a;
    border-radius: 0.2rem;
    font-size: 0.12rem;
    padding: 0.08rem 0.125rem;
  }

  &__usdtInstructions {
    padding: 0.12rem;
    color: #757575;
    border-radius: 0.05rem;
    background: #000;
    height: fit-content;
  }

  &__instruction {
    margin: 0.15rem 0;
  }

  &__button {
    @include flex-xy;
    background-position: 50%;
    border-radius: 0.2rem;
    border: none;
    color: #511a00;
    font-size: 0.12rem;
    font-weight: 700;
    height: 0.35rem;
    text-align: center;
    width: 1.1rem;
    background: url('~/assets/commons/button.png') center / 100% 100% no-repeat;
    margin: 0.125rem auto 0;
    cursor: pointer;
  }
}
