.buttonDesignTwo {
  @include flex-xy;
  background: var(--vip-btn-bg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 0.12rem;
  width: 100%;
  height: 100%;
  color: var(--vip-btn-text);
  text-align: center;
  padding: 0;
  border: 0;
  box-shadow: none;

  span {
    position: relative;
    top: -0.015rem;
  }
}