.listSmallWrapper {
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;

  .rowsContainer {
    height: 100%;
    position: relative;

    .firstRow,
    .secondRow {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.15rem;
      width: auto;
      height: 100%;
      position: relative;

      .iconHolder {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: fit-content;
        position: relative;
        aspect-ratio: 1/1;

        img {
          cursor: pointer;
          border-radius: 0.11rem;
          object-fit: cover;
          object-position: center;
        }
      }

      .isMaintenance {
        pointer-events: none;
      }
    }
  }
}

.type3Overlay {
  position: relative;
  height: calc(100% - 0.4rem);
}

.noDataOverlay {
  top: -0.4rem;
}
