html,
body {
  width: 100%;
  height: 100%;
  font-size: 10.1vw;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: #000;
  color: #dec28c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  background-color: #000000;
  --var-gradient: linear-gradient(to top, #ffeda7, #dec18c);
  cursor: default;
}

#root {
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all ease-in-out 500ms !important;
  &[data-theme='blackGold'] {
    background-color: #000000;
  }
  &[data-theme='brownGold'] {
    background-color: #ededed;
  }
  &[data-theme='yellowWhite'] {
    background-color: #ebedf1;
  }
  &[data-theme='greenYellow'] {
    background-color: #d6eae4;
  }
  &[data-theme='skyBlue'] {
    background-color: #dff4ff;
  }
  &[data-theme='darkBlue'] {
    background-color: #d7e8f0;
  }
  &[data-theme='redGold'] {
    background-color: #c9bebe;
  }
  &[data-theme='whiteGold'] {
    background-color: #dadce7;
  }
}

@media screen and (orientation: portrait) {
  #root {
    height: 100%;
    width: 100%;
    transform-origin: center center;
    overflow-x: hidden;
    position: absolute;
    will-change: transform;
  }
}

@media screen and (orientation: landscape) {
  body {
    width: stretch !important;
    width: -moz-available !important; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
    height: stretch !important;
    height: -moz-available !important; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
  }
  #root {
    height: 100%;
    width: 100%;
  }
}

.mainColor {
  background-repeat: no-repeat;
  background-position: left 1.62rem bottom 0;
  background-size: calc(100% - 1.62rem) 100%;
  position: relative;

  &[data-theme='blackGold'] {
    background-image: url('../assets/blackGold/main/main.webp');
  }
  // &[data-theme='brownGold'] {
  //   background-image: url('../assets/brownGold/main/main.webp');
  // }
  // &[data-theme='yellowWhite'] {
  //   background-image: url('../assets/yellowWhite/main/main.webp');
  // }
  // &[data-theme='greenYellow'] {
  //   background-image: url('../assets/greenYellow/main/main.webp');
  // }
  // &[data-theme='skyBlue'] {
  //   background-image: url('../assets/skyBlue/main/main.webp');
  // }
  // &[data-theme='darkBlue'] {
  //   background-image: url('../assets/darkBlue/main/main.webp');
  // }
  // &[data-theme='redGold'] {
  //   background-image: url('../assets/redGold/main/main.webp');
  // }
  // &[data-theme='whiteGold'] {
  //   background-image: url('../assets/whiteGold/main/main.webp');
  // }
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.isMaintain {
  position: absolute;
  @include flex-xy;
  justify-items: center;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 0.15rem;
  color: white;
  background-color: #00000080;
  text-align: center;
  width: 100%;
  height: 100%;
  border: #5b5b5b 0.004rem solid;
  border-radius: 0.2rem;
}

.isMaintainLargeIcon {
  position: absolute;
  @include flex-xy;
  justify-items: center;
  z-index: 1;
  font-size: 0.15rem;
  color: white;
  background-color: #00000080;
  text-align: center;
  width: 100%;
  height: 100%;
  border: #5b5b5b 0.004rem solid;
  border-radius: 0.1rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.thirdPartGameIframe {
  transform: translateZ(0);
  width: stretch !important;
  width: -moz-available !important; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
  height: stretch !important;
  height: -moz-available !important; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
}

.thirdPartGameIframeContainer {
  width: stretch !important;
  width: -moz-available !important; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
}
