html,
body {
  width: 100%;
  height: 100%;
  font-size: 10.1vw;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: #dec28c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  -moz-user-select: none; /* For Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul {
  display: block;
  list-style-type: none;
  margin-block: 0;
  margin-block-end: 0;
  margin-inline: 0;
  padding-inline: 0;
  unicode-bidi: unset;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

#root {
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all ease-in-out 500ms !important;
  background-color: var(--main-background);
}

.mainColor {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left 1.62rem bottom 0;
  background-size: calc(100% - 1.62rem) 100%;
  background-image: var(--main-bg);
}

#onroot {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
}

.isMaintain {
  position: absolute;
  @include flex-xy;
  justify-items: center;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 0.15rem;
  color: white;
  background-color: #00000080;
  text-align: center;
  width: 100%;
  height: 100%;
  border: #5b5b5b 0.004rem solid;
  border-radius: 0.2rem;
}

.isMaintainLargeIcon {
  position: absolute;
  @include flex-xy;
  justify-items: center;
  z-index: 1;
  font-size: 0.15rem;
  color: white;
  background-color: #00000080;
  text-align: center;
  width: 100%;
  height: 100%;
  border: #5b5b5b 0.004rem solid;
  border-radius: 0.1rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.thirdPartGameIframeContainer {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

.thirdPartGameIframe {
  width: 100%;
  height: 100%;
}

.loading {
  @include flex-xy;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0.05rem;
  z-index: 10;

  > div {
    height: 100% !important;
  }
}

.fullscreen {
  height: 100%;
  width: 100%;
}

@media screen and (orientation: portrait) {
  html,
  body {
    font-size: 10.1vh;
  }

  #onroot {
    transform: rotate(-90deg);
    transform-origin: bottom right;
    position: absolute;
    top: -100vw;
    right: 0;
    height: 100dvw;
    width: 100dvh;
  }
}
