:root {
  --common-text-active: #511a00;
  --common-text-unactive: linear-gradient(#fff, #fff6c2);
  --common-header: #fff;
  --vip-header: #fed500;
  --balance-header: #fff;
  --balance-outline-header: linear-gradient(0deg, #ffeda7, #dec18c);
  --balance-bg-header: #20201e;
  --vip-outline-bar: linear-gradient(0deg, #ffeda7, #dec18c);
  --vip-bg-bar: #0a0a0a;
  --vip-progress-bar: linear-gradient(180deg, #fee587, #ffb02b);
  --settings-header: linear-gradient(180deg, #ffffff 0%, #fce9c9 86.3%);
  --profile-bg: #dec28c;
  --footer-text-list: linear-gradient(#fff, #f9d57a);
  --footer-dialog-text: -webkit-linear-gradient(#fff, #f9d57a);
  --home-text-unactive: linear-gradient(#fff, #fff6c2);
  --home-text-active: #511a00;
  --home-marquee: #fff;
  --home-placeholder-search: #757575;
  --home-input-search: #fff;
  --table-header: linear-gradient(to top, #ffe29b, #fff);
  --record-activeNav-bg: linear-gradient(to right, #fceba5, #d5a93d);
  --record-activeNav-after-bg: linear-gradient(to top, #ffeda7, #dec18c);
  --record-dropdownLabel-color: #cdcaca;
  --record-roundedTabs-bg: #1a1a1a;
  --record-roundedTabs-color: #fff;
  --home-bg-sidebar: linear-gradient(270deg, #3c3a3b 0%, #1a1a1a 100%);
  --sidebar-outline-stroke: linear-gradient(to left, #ffffff00, #fffa92, #ffc884, #fffa92, #ffffff00) 1;
  --promotion-text-title: #fff;
  --promotion-bg-title: #363636;
  --promotion-text-input: #cdcaca;
  --promotion-bg-input: #1a1a1a;
  --security-header-border: #525252;
  --security-title-bg: linear-gradient(to right, #222222, #444444);
  --vip-balance-bg: #2c2c2c;
  --vip-balance-amount: #42f166;
  --vip-btn-text: #511a00;
  --home-bg-color: #000;
  --nodata-bg: -webkit-linear-gradient(#ffffff, #fff6c2);
  --sidebar-modal-bg: linear-gradient(270deg, #3c3a3b 0%, #1a1a1a 100%);
  --sidebar-modal-border: #8d7c4f;
  --promotion-lower-bg: #1a1a1a;
  --promotion-lower-title: -webkit-linear-gradient(#fedf7f, #bf8734);
  --promotion-lower-sub: #fff6c2;
  --transfer-text: #fff;
  --transfer-amount: #ffb02b;
  --withdraw-body-modal: linear-gradient(270deg, #1f1e1b 0%, #1e1b19 26.56%, #262520 100%);
  --withdrawal-header-panel-bg: #2c2c2c;
  --withdrawal-head-panel-borderBot: #444444;
  --withdrawal-head-title: #fff;
  --withdrawal-head-title-bg: linear-gradient(270deg, #222222 0%, #444444 100%);
  --withdrawal-panel-bg: #222222;
  --withdrawSelf-bg-input: #1a1a1a;
  --withdrawSelf-text-input: #fff;
  --withdrawSelf-user-balance: #757575;
  --withdrawSelf-text-add: #fff;
  --withdraw-header-modal-close: url('../assets/blackGold/withdraw/closeBtnModal.png');
  --withdraw-header-modal: url('../assets/blackGold/withdraw/withdrawHeaderModal.png');
  --common-btn: url('../assets/commons/button.png');
  --sidebar-modal-divider: url('../assets/blackGold/sidebar/divider.png');
  --sidebar-modal-active-bg: url('../assets/blackGold/sidebar/vipActive.png');
  --vip-btn-bg: url('../assets/commons/button.png');
  --header-bg-img: url('../assets/blackGold/header/homeHeaderBg.png');
  --footer-bg-img: url('../assets/blackGold/footer/footerBg.webp');
  --footer-dialog-box: url('../assets/blackGold/footer/moreBalloon.png');
  --home-bg-title-sidebar: url('../assets/blackGold/main/dottedSidebar.png');
  --home-title-sidebar: url('../assets/blackGold/sidebar/sidebarTitle.png');
  --home-bg-active: url('../assets/blackGold/sidebar/activeItem.png');
  --home-bg-search: url('../assets/blackGold/main/searchOutline.png');
  --header-bg-inner: url('../assets/blackGold/header/headerBg.png');
  --sidebar-bg-active: url('../assets/blackGold/sidebar/vipActive.png');
  --setting-close: url('../assets/blackGold/headerModal/closeBtn.png');
  --setting-bg-header-modal: url('../assets/blackGold/headerModal/headerTitleBg.png');

  // &[data-theme='brownGold'] {
  //   --balance-bg-header: #875b32;
  //   --vip-bg-bar: #5e3e22;
  //   --home-bg-sidebar: linear-gradient(270deg, #634126 0%, #432b0a 100%);
  //   --home-placeholder-search: #fff;
  //   --table-header: linear-gradient(to top, black, black);
  //   --record-activeNav-bg: linear-gradient(to right, #735c4b, #735c4b);
  //   --record-activeNav-after-bg: linear-gradient(to left, #735c4b, #735c4b);
  //   --record-dropdownLabel-color: #000000;
  //   --record-roundedTabs-bg: #fff;
  //   --record-roundedTabs-color: #735c4b;
  //   --promotion-bg-title: #c4a994;
  //   --promotion-text-input: #888888;
  //   --promotion-bg-input: #ededed;
  //   --security-header-border: #c4a994;
  //   --security-header-bg: #fff;
  //   --security-title-bg: linear-gradient(to right, #c4a994, #c4a994);
  //   --vip-balance-bg: #c4a994;
  //   --vip-balance-text: #fff;
  //   --vip-balance-amount: #00ff00;
  //   --nodata-bg: #bfbfbf;
  //   --sidebar-modal-bg: linear-gradient(270deg, #634126 0%, #432b0a 100%);
  //   --promotion-lower-bg: #ededed;
  //   --promotion-lower-title: #735c4b;
  //   --promotion-lower-sub: #888;
  //   --transfer-amount: #fee587;
  //   --withdraw-body-modal: #fff;
  //   --withdrawal-header-panel-bg: #fff;
  //   --withdrawal-head-panel-borderBot: #EDEDED;
  //   --withdrawal-head-title-bg: #C4A994;
  //   --withdrawal-panel-bg: #fff;
  //   --withdrawSelf-bg-input: #ededed;
  //   --withdrawSelf-text-input: #000;
  //   --withdrawSelf-user-balance: #c4a994;
  //   --withdrawSelf-text-add: #888888;
  //   --withdraw-header-modal-close: url('../assets/brownGold/withdraw/closeBtnModal.png');
  //   --withdraw-header-modal: url('../assets/brownGold/withdraw/withdrawHeaderModal.png');
  //   --sidebar-modal-divider: url('../assets/brownGold/Sidebar/divider.png');
  //   --sidebar-modal-active-bg: url('../assets/brownGold/Sidebar/btn-vipactive.png');
  //   --header-bg-img: url('../assets/brownGold/header/home_header.png');
  //   --footer-bg-img: url('../assets/brownGold/footer/bottom-bg.webp');
  //   --footer-dialog-box: url('../assets/brownGold/footer/MoreBalloon.png');
  //   --home-bg-title-sidebar: url('../assets/brownGold/main/DottedSideBar.png');
  //   --home-title-sidebar: url('../assets/brownGold/main/sidebarTitle.png');
  //   --home-bg-active: url('../assets/brownGold/main/sb_active_item.png');
  //   --home-bg-search: url('../assets/brownGold/main/search-bg.png');
  //   --header-bg-inner: url('../assets/brownGold/header/header_bg.png');
  //   --sidebar-bg-active: url('../assets/brownGold/Sidebar/btn-vipactive.png');
  // --setting-close: url('../assets/brownGold/headerModal/closeBtn.png');
  // --setting-bg-header-modal: url('../assets/brownGold/headerModal/headerTitleBg.png');
  // }

  // &[data-theme='yellowWhite'] {
  //   --common-text-active: #a11300;
  //   --common-text-unactive: #0a0a0a;
  //   --common-header: #0a0a0a;
  //   --vip-header: #0a0a0a;
  //   --balance-header: #c5915a;
  //   --balance-bg-header: #fff;
  //   --balance-outline-header: #fff;
  //   --settings-header: linear-gradient(180deg, #bea288 0%, #a11300 100%);
  //   --vip-outline-bar: #0a0a0a;
  //   --vip-progress-bar: #fff;
  //   --profile-bg: linear-gradient(150deg, #ffffff, #0a0a0a) border-box;
  //   --footer-text-list: linear-gradient(180deg, #bea288 0%, #a11300 100%);
  //   --home-bg-sidebar: linear-gradient(90deg, #ffb800 8.68%, #fefeff 110.99%);
  //   --home-text-unactive: #0a0a0a;
  //   --home-text-active: #a11300;
  //   --home-marquee: #fefeff;
  //   --home-placeholder-search: #757575;
  //   --home-input-search: #000;
  //   --table-header: linear-gradient(to top, black, black);
  //   --record-activeNav-bg: linear-gradient(to right, #ffc400, #ffc400);
  //   --record-activeNav-after-bg: linear-gradient(to top, #ffeda7, #dec18c);
  //   --record-dropdownLabel-color: #a11300;
  //   --record-roundedTabs-bg: #1a1a1a;
  //   --record-roundedTabs-color: #ffc400;
  //   --sidebar-outline-stroke: linear-gradient(to left, #3beaff00, #c5915a, #3beaff00);
  //   --promotion-text-title: #ffc400;
  //   --promotion-bg-title: #0a0a0a;
  //   --promotion-text-input: #bea288;
  //   --promotion-bg-input: #ebedf1;
  //   --security-header-border: #ffc400;
  //   --security-header-bg: #fff;
  //   --security-title-bg: linear-gradient(to right, #ffc400, #ffc400);
  //   --vip-balance-bg: #0a0a0a;
  //   --vip-balance-text: #face13;
  //   --vip-balance-amount: #00ff00;
  //   --nodata-bg: #c5915a;
  //   --sidebar-modal-bg: linear-gradient(269.32deg, #fefeff 0.71%, #ffb800 97.25%);
  //   --sidebar-modal-border: #ffc400;
  //   --promotion-lower-bg: #ebedf1;
  //   --promotion-lower-title: #a11300;
  //   --promotion-lower-sub: #bea288;
  //   --transfer-amount: linear-gradient(90deg, #fee587 0%, #ffb02b 100%);
  //   --withdraw-body-modal: #ebedf1;
  //   --withdrawal-header-panel-bg: #FEFEFF;
  //   --withdrawal-head-panel-borderBot: #FFC400;
  //   --withdrawal-head-title-bg: #FFC400;
  //   --withdrawal-panel-bg: #FEFEFF;
  //   --withdrawSelf-bg-input: #ebedf1;
  //   --withdrawSelf-text-input: #000;
  //   --withdrawSelf-text-add: #C5915A;
  //   --withdraw-header-modal-close: url('../assets/yellowWhite/withdraw/closeBtnModal.png');
  //   --withdraw-header-modal: url('../assets/yellowWhite/withdraw/withdrawHeaderModal.png');
  //   --sidebar-modal-divider: url('../assets/yellowWhite/Sidebar/divider.png');
  //   --sidebar-modal-active-bg: url('../assets/yellowWhite/Sidebar/btn-vipactive.png');
  //   --header-bg-img: url('../assets/yellowWhite/header/home_header.png');
  //   --footer-bg-img: url('../assets/yellowWhite/footer/bottom-bg.webp');
  //   --footer-dialog-box: url('../assets/yellowWhite/footer/MoreBalloon.png');
  //   --home-bg-title-sidebar: url('../assets/yellowWhite/main/DottedSideBar.png');
  //   --home-title-sidebar: url('../assets/yellowWhite/main/sidebarTitle.png');
  //   --home-bg-active: url('../assets/yellowWhite/main/sb_active_item.png');
  //   --home-bg-search: url('../assets/yellowWhite/main/search-bg.png');
  //   --header-bg-inner: url('../assets/yellowWhite/header/header_bg.png');
  //   --sidebar-bg-active: url('../assets/yellowWhite/Sidebar/btn-vipactive.png');
  //   --setting-close: url('../assets/yellowWhite/headerModal/closeBtn.png');
  //   --setting-bg-header-modal: url('../assets/yellowWhite/headerModal/headerTitleBg.png');
  // }

  // &[data-theme='greenYellow'] {
  //   --balance-header: #facd12;
  //   --balance-outline-header: linear-gradient(180deg, #ffea01, #df8e00);
  //   --balance-bg-header: #063a32;
  //   --settings-header: linear-gradient(180deg, #ffffff 25.19%, #facd12 80.14%);
  //   --vip-outline-bar: #e29300;
  //   --vip-bg-bar: #013629;
  //   --vip-progress-bar: linear-gradient(180deg, #ffea01, #e29300);
  //   --profile-bg: linear-gradient(300deg, #df8e00, #ffea01) border-box;
  //   --footer-text-list: linear-gradient(180deg, #ffffff 25.19%, #facd12 80.14%);
  //   --footer-dialog-text: linear-gradient(180deg, #fff 25.19%, #facd12 80.14%);
  //   --home-bg-sidebar: linear-gradient(90deg, #06362d 21.87%, #055848 71.67%, #007658 100%);
  //   --home-text-unactive: #fff;
  //   --home-placeholder-search: #b6b6b6;
  //   --table-header: #000;
  //   --record-activeNav-bg: linear-gradient(to bottom, #ffffff, #ffe800, #e39300);
  //   --record-activeNav-after-bg: linear-gradient(to left, #ffea01, #df8e00);
  //   --record-dropdownLabel-color: #511a00;
  //   --record-roundedTabs-bg: #ffffff;
  //   --record-roundedTabs-color: #0b5642;
  //   --promotion-bg-title: #3b8675;
  //   --promotion-text-input: #bebebe;
  //   --promotion-bg-input: #fff;
  //   --security-header-border: #0e9473;
  //   --security-header-bg: #f2f2f2;
  //   --security-title-text: #face13;
  //   --security-title-bg: linear-gradient(to right, #0e9473, #0e9473);
  //   --vip-balance-bg: #0e9473;
  //   --vip-balance-text: #face13;
  //   --vip-balance-amount: #00ff00;
  //   --nodata-bg: #facd1280;
  //   --sidebar-modal-bg: linear-gradient(90deg, #06362d 21.87%, #055848 71.67%, #007658 100%);
  //   --sidebar-modal-border: none;
  //   --promotion-lower-bg: #3b8675;
  //   --promotion-lower-title: #face13;
  //   --promotion-lower-sub: #fff;
  //   --transfer-amount: linear-gradient(180deg, #ffffff 0%, #fffae9 0.01%, #face13 27.6%);
  //   --withdraw-body-modal: #d6eae4;
  //   --withdrawal-header-panel-bg: #F2F2F2;
  //   --withdrawal-head-panel-borderBot: #fff;
  //   --withdrawal-head-title: linear-gradient(180deg, #FFFFFF 0%, #FFFAE9 0.01%, #FACE13 27.6%);
  //   --withdrawal-head-title-bg: #0E9473;
  //   --withdrawal-panel-bg: #F2F2F2;
  //   --withdrawSelf-bg-input: #fff;
  //   --withdrawSelf-text-input: #000;
  //   --withdrawSelf-user-balance: #511a00;
  //   --withdrawSelf-text-add: #511A00;
  //   --withdraw-header-modal-close: url('../assets/greenYellow/withdraw/closeBtnModal.png');
  //   --withdraw-header-modal: url('../assets/greenYellow/withdraw/withdrawHeaderModal.png');
  //   --sidebar-modal-divider: url('../assets/greenYellow/Sidebar/divider.png');
  //   --sidebar-modal-active-bg: url('../assets/greenYellow/Sidebar/btn-vipactive.png');
  //   --header-bg-img: url('../assets/greenYellow/header/home_header.png');
  //   --footer-bg-img: url('../assets/greenYellow/footer/bottom-bg.webp');
  //   --footer-dialog-box: url('../assets/greenYellow/footer/MoreBalloon.png');
  //   --home-bg-title-sidebar: url('../assets/greenYellow/main/DottedSideBar.png');
  //   --home-title-sidebar: url('../assets/greenYellow/main/sidebarTitle.png');
  //   --home-bg-active: url('../assets/greenYellow/main/sb_active_item.png');
  //   --home-bg-search: url('../assets/greenYellow/main/search-bg.png');
  //   --header-bg-inner: url('../assets/greenYellow/header/header_bg.png');
  //   --sidebar-bg-active: url('../assets/greenYellow/Sidebar/btn-vipactive.png');
  //   --setting-close: url('../assets/greenYellow/headerModal/closeBtn.png');
  //   --setting-bg-header-modal: url('../assets/greenYellow/headerModal/headerTitleBg.png');
  // }

  // &[data-theme='skyBlue'] {
  //   --balance-outline-header: #3beaff;
  //   --balance-bg-header: #0071a9;
  //   --vip-outline-bar: #050505;
  //   --footer-text-list: linear-gradient(180deg, #ffffff 0%, #fce9c9 86.3%);
  //   --footer-dialog-text: linear-gradient(180deg, #fff, #fce9c9 86.3%);
  //   --home-bg-sidebar: #0081ca;
  //   --home-marquee: #888888;
  //   --home-placeholder-search: #fff;
  //   --table-header: #000;
  //   --record-activeNav-bg: linear-gradient(to right, #15d9f8, #037dfb);
  //   --record-activeNav-after-bg: none;
  //   --record-dropdownLabel-color: #888888;
  //   --record-roundedTabs-bg: #ffffff;
  //   --record-roundedTabs-color: #888888;
  //   --sidebar-outline-stroke: linear-gradient(to left, #3beaff00, #3beaff, #3beaff00);
  //   --promotion-bg-title: #0ca0e9;
  //   --promotion-text-input: #888888;
  //   --promotion-bg-input: #888888;
  //   --security-header-border: #0ca0e9;
  //   --security-header-bg: #f4f9f9;
  //   --security-title-bg: linear-gradient(to right, #0ca0e9, #0ca0e9);
  //   --vip-balance-bg: #0ca0e9;
  //   --vip-balance-text: #fff;
  //   --vip-balance-amount: #fff;
  //   --nodata-bg: #bfbfbf;
  //   --sidebar-modal-bg: #0081ca;
  //   --sidebar-modal-border: none;
  //   --promotion-lower-bg: #f4f6f9;
  //   --promotion-lower-title: #0ca0e9;
  //   --promotion-lower-sub: #888;
  //   --transfer-amount: linear-gradient(180deg, #ffffff 0%, #fffae9 0.01%, #face13 27.6%);
  //   --withdraw-body-modal: #f4f6f9;
  //   --withdrawal-header-panel-bg: #fff;
  //   --withdrawal-head-panel-borderBot: #EDEDED;
  //   --withdrawal-head-title-bg: #0CA0E9;
  //   --withdrawal-panel-bg: #fff;
  //   --withdrawSelf-bg-input: #fff;
  //   --withdrawSelf-text-input: #000;
  //   --withdrawSelf-user-balance: #0ca0e9;
  //   --withdrawSelf-text-add: #888888;
  //   --withdraw-header-modal-close: url('../assets/skyBlue/withdraw/closeBtnModal.png');
  //   --withdraw-header-modal: url('../assets/skyBlue/withdraw/withdrawHeaderModal.png');
  //   --sidebar-modal-divider: url('../assets/skyBlue/Sidebar/divider.png');
  //   --sidebar-modal-active-bg: url('../assets/skyBlue/Sidebar/btn-vipactive.png');
  //   --header-bg-img: url('../assets/skyBlue/header/home_header.png');
  //   --footer-bg-img: url('../assets/skyBlue/footer/bottom-bg.webp');
  //   --footer-dialog-box: url('../assets/skyBlue/footer/MoreBalloon.png');
  //   --home-bg-title-sidebar: url('../assets/skyBlue/main/DottedSideBar.png');
  //   --home-title-sidebar: url('../assets/skyBlue/main/sidebarTitle.png');
  //   --home-bg-active: url('../assets/skyBlue/main/sb_active_item.png');
  //   --home-bg-search: url('../assets/skyBlue/main/search-bg.png');
  //   --header-bg-inner: url('../assets/skyBlue/header/header_bg.png');
  //   --sidebar-bg-active: url('../assets/skyBlue/Sidebar/btn-vipactive.png');
  //   --setting-close: url('../assets/skyBlue/headerModal/closeBtn.png');
  //   --setting-bg-header-modal: url('../assets/skyBlue/headerModal/headerTitleBg.png');
  // }

  // &[data-theme='darkBlue'] {
  //   --common-text-active: linear-gradient(180deg, #29468d 0%, #162752 100%);
  //   --common-text-unactive: linear-gradient(180deg, #ffffff 0%, #8aeaff 100%);
  //   --vip-header: #8aeaff;
  //   --balance-outline-header: linear-gradient(180deg, #ffffff, #8aeaff);
  //   --balance-bg-header: #102c54;
  //   --settings-header: linear-gradient(180deg, #ffffff 0%, #e1f5fe 100%);
  //   --vip-outline-bar: linear-gradient(180deg, #fff, #8aeaff);
  //   --vip-progress-bar: linear-gradient(180deg, #fff, #8aeaff);
  //   --profile-bg: linear-gradient(300deg, #eff8ff, #d3edfe) border-box;
  //   --footer-text-list: linear-gradient(180deg, #ffffff 0%, #e1f5fe 100%);
  //   --footer-dialog-text: linear-gradient(180deg, #fff, #e1f5fe);
  //   --home-bg-sidebar: linear-gradient(270deg, #29334b 0%, #4d6296 100%);
  //   --home-text-unactive: linear-gradient(180deg, #ffffff 0%, #8aeaff 100%);
  //   --home-text-active: linear-gradient(180deg, #29468d 0%, #162752 100%);
  //   --home-marquee: #29468d;
  //   --home-placeholder-search: #29468d;
  //   --record-activeNav-bg: linear-gradient(to top, #162752, #29468d);
  //   --record-activeNav-after-bg: linear-gradient(to bottom, #fff, #8aeaff);
  //   --record-dropdownLabel-color: #29468d;
  //   --record-roundedTabs-bg: #00000080;
  //   --record-roundedTabs-color: #ffffff;
  //   --sidebar-outline-stroke: linear-gradient(to left, #3beaff00, #5dfeff, #3beaff00);
  //   --promotion-bg-title: #29468d;
  //   --promotion-text-input: #29468d;
  //   --promotion-bg-input: #fff;
  //   --security-header-border: #4d6296;
  //   --security-header-bg: #4d6296;
  //   --security-title-bg: linear-gradient(to top, #162752, #29468d);
  //   --vip-balance-bg: linear-gradient(to right, #4d6296, #8498c9);
  //   --vip-balance-text: #fff;
  //   --vip-balance-amount: #fff;
  //   --vip-balance-btn: linear-gradient(#29468d, #162752);
  //   --vip-btn-bg: linear-gradient(#29468d, #162752);
  //   --vip-btn-text: #fff;
  //   --nodata-bg: #4d6296;
  //   --sidebar-modal-bg: linear-gradient(270deg, #29334b 0%, #4d6296 100%);
  //   --sidebar-modal-border: #8aeaff;
  //   --promotion-lower-bg: #fff;
  //   --promotion-lower-title: -webkit-linear-gradient(#29468d, #162752);
  //   --promotion-lower-sub: #4d6296;
  //   --transfer-amount: linear-gradient(180deg, #ffffff 0%, #fffae9 0.01%, #face13 27.6%);
  //   --withdraw-body-modal: linear-gradient(270deg, #29334b 0%, #4d6296 100%);
  //   --withdrawal-header-panel-bg: #4d6296;
  //   --withdrawal-head-title-bg: linear-gradient(180deg, #29468D 0%, #162752 100%);
  //   --withdrawal-panel-bg: linear-gradient(90deg, #4D6296 0%, #8498C9 100%);
  //   --withdrawSelf-bg-input: #fff;
  //   --withdrawSelf-text-input: #000;
  //   --withdrawSelf-user-balance: #d7e8f0;
  //   --withdraw-header-modal-close: url('../assets/darkBlue/withdraw/closeBtnModal.png');
  //   --withdraw-header-modal: url('../assets/darkBlue/withdraw/withdrawHeaderModal.png');
  //   --sidebar-modal-divider: url('../assets/darkBlue/Sidebar/divider.png');
  //   --sidebar-modal-active-bg: url('../assets/darkBlue/Sidebar/btn-vipactive.png');
  //   --header-bg-img: url('../assets/darkBlue/header/home_header.png');
  //   --footer-bg-img: url('../assets/darkBlue/footer/bottom-bg.webp');
  //   --footer-dialog-box: url('../assets/darkBlue/footer/MoreBalloon.png');
  //   --home-bg-title-sidebar: url('../assets/darkBlue/main/DottedSideBar.png');
  //   --home-title-sidebar: url('../assets/darkBlue/main/sidebarTitle.png');
  //   --home-bg-active: url('../assets/darkBlue/main/sb_active_item.png');
  //   --home-bg-search: url('../assets/darkBlue/main/search-bg.png');
  //   --header-bg-inner: url('../assets/darkBlue/header/header_bg.png');
  //   --sidebar-bg-active: url('../assets/darkBlue/Sidebar/btn-vipactive.png');
  //   --setting-close: url('../assets/darkBlue/headerModal/closeBtn.png');
  //   --setting-bg-header-modal: url('../assets/darkBlue/headerModal/headerTitleBg.png');
  // }

  // &[data-theme='redGold'] {
  //   --balance-bg-header: #480909;
  //   --vip-bg-bar: #331b20;
  //   --settings-header: linear-gradient(180deg, #ffffff 0%, #f9d57a 100%);
  //   --home-bg-sidebar: linear-gradient(270deg, #771818 0%, #af0100 100%);
  //   --home-placeholder-search: #fff;
  //   --record-dropdownLabel-color: #080000;
  //   --record-roundedTabs-bg: #ffffff;
  //   --record-roundedTabs-color: #080000;
  //   --promotion-bg-title: linear-gradient(to right, #af0100, #ff6b00);
  //   --promotion-text-input: #080000;
  //   --promotion-bg-input: linear-gradient(to right, #f1dbdb, #f4e8e8);
  //   --security-header-bg: linear-gradient(to right, #af0100, #ff6b00);
  //   --security-title-bg: linear-gradient(to top, #47100f, #6a1211);
  //   --vip-balance-bg: #fff;
  //   --vip-balance-text: #080000;
  //   --vip-balance-amount: #00ff00;
  //   --nodata-bg: #af0100;
  //   --sidebar-modal-bg: linear-gradient(270deg, #771818 0%, #af0100 100%);
  //   --promotion-lower-bg: #f1dbdb;
  //   --promotion-lower-title: #af0100;
  //   --promotion-lower-sub: #080000;
  //   --transfer-amount: linear-gradient(180deg, #ffffff 0%, #fffae9 0.01%, #face13 27.6%);
  //   --withdraw-body-modal: linear-gradient(90deg, #af0100 0%, #ff6b00 100%);
  //   --withdrawal-header-panel-bg: linear-gradient(90deg, #AF0100 0%, #FF6B00 100%);
  //   --withdrawal-head-title-bg: linear-gradient(180deg, #6A1211 0%, #47100F 100%);
  //   --withdrawal-panel-bg: linear-gradient(90deg, #FDF8F8 0%, #F7EEEE 100%);
  //   --withdrawSelf-bg-input: linear-gradient(90deg, #f4e8e8 0%, #f1dbdb 100%);
  //   --withdrawSelf-text-input: #000;
  //   --withdrawSelf-user-balance: #080000;
  //   --withdrawSelf-text-add: #080000;
  //   --withdraw-header-modal-close: url('../assets/redGold/withdraw/closeBtnModal.png');
  //   --withdraw-header-modal: url('../assets/redGold/withdraw/withdrawHeaderModal.png');
  //   --sidebar-modal-divider: url('../assets/redGold/Sidebar/divider.png');
  //   --sidebar-modal-active-bg: url('../assets/redGold/Sidebar/btn-vipactive.png');
  //   --header-bg-img: url('../assets/redGold/header/home_header.png');
  //   --footer-bg-img: url('../assets/redGold/footer/bottom-bg.webp');
  //   --footer-dialog-box: url('../assets/redGold/footer/MoreBalloon.png');
  //   --home-bg-title-sidebar: url('../assets/redGold/main/DottedSideBar.png');
  //   --home-title-sidebar: url('../assets/redGold/main/sidebarTitle.png');
  //   --home-bg-active: url('../assets/redGold/main/sb_active_item.png');
  //   --home-bg-search: url('../assets/redGold/main/search-bg.png');
  //   --header-bg-inner: url('../assets/redGold/header/header_bg.png');
  //   --sidebar-bg-active: url('../assets/redGold/Sidebar/btn-vipactive.png');
  //   --setting-close: url('../assets/redGold/headerModal/closeBtn.png');
  //   --setting-bg-header-modal: url('../assets/redGold/headerModal/headerTitleBg.png');
  // }

  // &[data-theme='whiteGold'] {
  //   --common-text-active: #461d09;
  //   --common-text-unactive: #435689;
  //   --common-header: #435689;
  //   --vip-header: #fea800;
  //   --balance-bg-header: #737378;
  //   --settings-header: #435689;
  //   --vip-outline-bar: #737378;
  //   --vip-bg-bar: #737378;
  //   --profile-bg: linear-gradient(150deg, #fff2c5, #d8aa42) border-box;
  //   --footer-text-list: #435689;
  //   --footer-dialog-text: #435689;
  //   --home-bg-sidebar: linear-gradient(270deg, #fcfbfe 0%, #ccd1e6 76.47%);
  //   --home-text-unactive: #435689;
  //   --home-text-active: #461d09;
  //   --home-placeholder-search: #ccd1e6cc;
  //   --record-dropdownLabel-color: #435689;
  //   --record-roundedTabs-bg: #ffffff;
  //   --record-roundedTabs-color: #435689;
  //   --promotion-text-title: #461d09;
  //   --promotion-bg-title: #e9cb7b;
  //   --promotion-text-input: #000;
  //   --promotion-bg-input: #dadce7;
  //   --security-header-border: #e9cb7b;
  //   --security-header-bg: #f9f9f9;
  //   --security-title-text: #461d09;
  //   --security-title-bg: linear-gradient(to right, #e9cb7b, #e9cb7b);
  //   --vip-balance-bg: #e9cb7b;
  //   --vip-balance-text: #461d09;
  //   --vip-balance-amount: #06b100;
  //   --nodata-bg: #bcbcbc;
  //   --sidebar-modal-bg: #dadce7;
  //   --promotion-lower-bg: #dadce7;
  //   --promotion-lower-title: #435689;
  //   --promotion-lower-sub: #435689;
  //   --transfer-text: #461d09;
  //   --transfer-amount: #461d09;
  //   --withdraw-body-modal: #dadce7;
  //   --withdrawal-header-panel-bg: #F9F9F9;
  //   --withdrawal-head-panel-borderBot: #D5A93D;
  //   --withdrawal-head-title: #461D09;
  //   --withdrawal-head-title-bg: #E9CB7B;
  //   --withdrawal-panel-bg: #F9F9F9;
  //   --withdrawSelf-bg-input: #dadce7;
  //   --withdrawSelf-text-input: #000;
  //   --withdrawSelf-user-balance: #435689;
  //   --withdrawSelf-text-add: #435689;
  //   --withdraw-header-modal-close: url('../assets/whiteGold/withdraw/closeBtnModal.png');
  //   --withdraw-header-modal: url('../assets/whiteGold/withdraw/withdrawHeaderModal.png');
  //   --sidebar-modal-divider: url('../assets/whiteGold/Sidebar/divider.png');
  //   --sidebar-modal-active-bg: url('../assets/whiteGold/Sidebar/btn-vipactive.png');
  //   --header-bg-img: url('../assets/whiteGold/header/home_header.png');
  //   --footer-bg-img: url('../assets/whiteGold/footer/bottom-bg.webp');
  //   --footer-dialog-box: url('../assets/whiteGold/footer/MoreBalloon.png');
  //   --home-bg-title-sidebar: url('../assets/whiteGold/main/DottedSideBar.png');
  //   --home-title-sidebar: url('../assets/whiteGold/main/sidebarTitle.png');
  //   --home-bg-active: url('../assets/whiteGold/main/sb_active_item.png');
  //   --home-bg-search: url('../assets/whiteGold/main/search-bg.png');
  //   --header-bg-inner: url('../assets/whiteGold/header/header_bg.png');
  //   --sidebar-bg-active: url('../assets/whiteGold/Sidebar/btn-vipactive.png');
  //   --setting-close: url('../assets/whiteGold/headerModal/closeBtn.png');
  //   --setting-bg-header-modal: url('../assets/whiteGold/headerModal/headerTitleBg.png');
  // }
}
